[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
yamllint = "*"
cfn-lint = "*"
statelint = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[packages]
aws-lambda-powertools = "*"
aws_xray_sdk = "*"
boto3 = "*"
staxapp = "*"

[requires]
python_version = "3.9"
