[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
cfn-lint = "*"
dill = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
statelint = "*"
yamllint = "*"

[packages]
aws_xray_sdk = "*"
aws-lambda-powertools = "*"
boto3 = "*"
staxapp = "*"

[requires]
python_version = "3.9"

[scripts]
create-ssm-parameters = "python examples/create_ssm_parameters.py"
