[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
yamllint = "*"
cfn-lint = "*"
aws-sam-translator = "*"
statelint = "*"

[packages]
staxapp = "*"
boto3 = "*"
aws-lambda-powertools = "*"
aws_xray_sdk = "*"
