attrs==21.4.0
aws-lambda-powertools==1.25.6
aws-requests-auth==0.4.3
aws-xray-sdk==2.9.0
boto3==1.21.36
botocore==1.24.36
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
fastjsonschema==2.15.3
future==0.18.2
idna==3.3
jmespath==0.10.0
jsonschema==4.4.0
openapi-spec-validator==0.2.9
prance==0.21.8.0
pyrsistent==0.18.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.5.2
semver==2.13.0
six==1.16.0
staxapp @ git+ssh://git@github.com/richardkeit/lib-stax-python-sdk.git@c7239a593318dad4e0b5ea32d12c37fe48ccf701
urllib3==1.26.9
wrapt==1.14.0
